.checkbox-label {
  width: 100%;
  @include centered-flex(inline-flex, center, flex-start);
  margin-bottom: 30px;
  @include font(11px, 400);
  line-height: 1.17;
  cursor: pointer;
}

.checkbox-icon {
  display: inline-block;
  margin-right: 8px;
  width: 16px;
  height: 15px;
  border-radius: 2px;
  border: 2px solid var(--title-text-color);
  transition: border var(--duration) var(--speed);
}

.checkbox:checked + .checkbox-icon {
  background-color: var(--accent-color);
  background-image: url("../images/icon-check.svg");
  padding: 4px 3px 2px 3px;
  border-color: var(--accent-color);
  background-repeat: no-repeat;
  transition: background-color var(--duration) var(--speed),
    background-image var(--duration) var(--speed),
    border-color var(--duration) var(--speed);
}

.modal-form-policy-link {
  @include font(11px, 400);
  line-height: 1.17;
  color: var(--accent-color);
}

// @media screen and (min-width: 768px) {
//   .checkbox-label {
//     @include font(12px, 400);
//   }

//   .modal-form-policy-link {
//     @include font(12px, 400);
//   }
// }

@media screen and (min-width: 1200px) {
  .checkbox-label {
    @include font(14px, 400);
    line-height: 1.71;
  }

  .checkbox-icon {
    margin-right: 8.38px;
  }

  .modal-form-policy-link {
    @include font(14px, 400);
    line-height: 1.71;
  }
}
