:root {
  --main-text-color: #757575;
  --title-text-color: #212121;
  --primary-white-color: #ffffff;
  --accent-color: #2196f3;
  --main-icon-color: #afb1b8;
  --modal-button-hover: #188ce8;
  --footer-color: #2f303a;
  --duration: 250ms;
  --speed: cubic-bezier(0.4, 0, 0.2, 1);
}
